<div style="display: flex; align-items: flex-start;">
    <mat-card style="width: 70%; margin-left: 1%; margin-top: 1%;"> 
<table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="dls-sample-table"
        [class.dls-compact-table]="compact"
      >
        <caption>
          <div class="caption-container">
            <div class="title">Real Time Values</div>
            <div class="controls">
              <slb-search
                *ngIf="isSearchVisible"
                [searchControl]="searchControl"
                [searchPlaceholder]="'Search'"
                [searchStartLength]="1"
              ></slb-search>
            </div>
          </div>
        </caption>
    
        <ng-container matColumnDef="position">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="dls-table-cell-align-left"
          >No.
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="dls-table-cell-align-left"
          >
            {{ element.position }}
          </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="dls-table-cell-align-center"
          >
            Status
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="dls-table-cell-align-center"
          >
          <svg *ngIf="element.status" style="width: 20px; height: 20px; fill: green;">
            <use xlink:href="assets/icons.svg#polar-point"></use>
          </svg>
          <svg *ngIf="!element.status" style="width: 20px; height: 20px; fill: red;">
            <use xlink:href="assets/icons.svg#polar-point"></use>
          </svg>
          
          </td>
        </ng-container>
    
        <ng-container matColumnDef="progress">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="dls-table-cell-align-center"
          >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Value&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <slb-progress-indicator
              [mode]="progressIndicatorMode.Determinate"
              [type]="progressIndicatorType.Neutral"
              [value]="element.progressValue"
            >
           
            </slb-progress-indicator>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
          <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
        </ng-container>
    
        
     <ng-container matColumnDef="range">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Range
          </th>
          <td mat-cell *matCellDef="let element">{{ element.range }}</td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            ></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef mat-header-cellclass="dls-table-cell-align-left" >
                &nbsp;&nbsp;&nbsp;Update
            </th>
            <td mat-cell *matCellDef="let element" class="dls-table-cell-align-left">
              <button *ngIf="element.isUpdated" (click)="updateData()" [disabled]="isDisabled" slb-button>
                Update
              </button>
            </td>
          </ng-container>
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr *matNoDataRow>
          <td colspan="6">
            <slb-empty-state iconName="info" message="Sorry, no data found">
              <button slb-secondary-button type="button">Refresh</button>
            </slb-empty-state>
          </td>
        </tr>
      </table>
      <slb-pagination-control
      #paginator
      
      [showLabel]="showLabel"
      [showPageCounter]="showPageCounter"
      [showFirstLastButtons]="showFirstLastButtons"
      [showPageSize]="showPageSize"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [length]="length"
      [disabled]="isDisabled"
      (page)="onPageChange($event)"
  ></slb-pagination-control>
    </mat-card>
    <img src="assets/images/APVV.png" alt="Modem Gas" style="width: 20%; margin-left: 5%; margin-top: 15%;">
  </div> 
