
<img src="assets/images/christmasTree.png"  alt="Christmas Tree" style="width: 80%; margin-left: 10%;">


<div>
    <h2>Determinate Progress Bar</h2>
    <mat-progress-bar mode="determinate" [value]="determinateValue"></mat-progress-bar>
    
    <h2>Indeterminate Progress Bar</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    
    <h2>Buffer Progress Bar</h2>
    <mat-progress-bar mode="buffer" [value]="determinateValue" [bufferValue]="bufferValue"></mat-progress-bar>
    
    <h2>Query Progress Bar</h2>
    <mat-progress-bar mode="query"></mat-progress-bar>
</div>