/* Core Grid CSS */
@import "~ag-grid-community/styles/ag-grid.css";

/* Quartz Theme Specific CSS */
@import "~ag-grid-community/styles/ag-theme-quartz.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";
.ag-grid-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 可以根据需要调整 */
    margin-top: -1%;
  }
  
  .ag-grid-container .ag-theme-dls {

    max-width: 90%;
    max-height: 90%;
  }
/* --------------------------------------------   */
.academia-rounded table {
    border-collapse: separate;
    border: solid #b3b3b3 1px;
    border-radius: 6px;
    border-spacing: 0px;
}
.academia-rounded table > tbody > tr > td {
    border-bottom: 1px solid #ccccccbb;
}
.academia-rounded table > tbody > tr:last-child > td {
    border-bottom: thin #ccccccbb;
}
.academia-rounded table th:first-of-type{
    border-top-left-radius: 6px;
}
.academia-rounded table th:last-of-type{
    border-top-right-radius: 6px;
}
.academia-rounded table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.academia-rounded table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
/* --------------------------------------------   */