<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Data Explore</title>
</head>

<body >
  
    
        <mat-card style="width: 100%; margin-left: 1%; margin-top: 1%;"> 
            <h5 style="text-align: center;">All Data</h5>
        <ag-grid-angular
        *ngIf="this.rowData.length > 0" 
            style="width: 70%; height: 90%; margin-left: 15%; box-sizing: border-box;"
            class="ag-theme-dls"
            [rowData]="this.rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="rowSelection"
            [suppressRowClickSelection]="true"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            (gridReady)="onGridReady($event)"
            (rowSelected)="onRowSelected($event)"
        ></ag-grid-angular>
    </mat-card>
   
      
<span></span>
<span></span>
<span></span>
<span></span>

<!-- <mat-card style="width: 100%; margin-left: 1%; margin-top: 1%;"> 
    <table   style="border-collapse: collapse; font-family: Arial, sans-serif;">
      <thead>
        <tr>
          <th style="border: 1px solid black; padding: 8px;">Equipment</th>
          <th style="border: 1px solid black; padding: 8px;">Name</th>
          <th style="border: 1px solid black; padding: 8px;">Progress Value</th>
          <th style="border: 1px solid black; padding: 8px;">Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectedData" style="border: 1px solid black;">
          <td style="border: 1px solid black; padding: 8px; text-align: left;">{{ item.deviceName }}</td>
          <td style="border: 1px solid black; padding: 8px; text-align: left;">{{ item.tagName }}</td>
          <td style="border: 1px solid black; padding: 8px; text-align: left;">{{ item.value }}</td>
          <td style="border: 1px solid black; padding: 8px; text-align: left;">{{ item.storageUnit }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>  -->
  <mat-card style="width: 100%; margin-left: 1%; margin-top: 1%;"> 
    <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="dls-sample-table"
    [class.dls-compact-table]="compact"
  
  >
    <caption>
      <div class="caption-container">
        <div class="title">Selected Values</div>
        <div class="controls"></div>
      </div>
    </caption>
   
    <ng-container matColumnDef="tagName1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Device Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.deviceName }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="name1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag Name</th>
      <td mat-cell *matCellDef="let element">{{ element.tagName }}</td>
    </ng-container>
  
    <ng-container matColumnDef="progressValue1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
      <td mat-cell *matCellDef="let element">
        {{ element.value }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="unit1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>
      <td mat-cell *matCellDef="let element">{{ element.storageUnit }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['tagName1', 'name1', 'progressValue1', 'unit1']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['tagName1', 'name1', 'progressValue1', 'unit1']"></tr>
  </table>
  
        </mat-card> 


<!-- <mat-card style="width: 100%; margin-left: 1%; margin-top: 1%;"> 
<slb-chart
style="width: 50%; margin: 0 auto;"
[data]="data"
[labels]="data.labels"
[title]="title"
[chartType]="'line'"
[chartOptions]="options"
[legendPosition]="'top'"
[showLegend]="true"
[showTitle]="true"
[showTooltip]="true"
[titlePosition]="'top'"
></slb-chart>
</mat-card>  -->
<mat-card style="width: 100%; margin-left: 1%; margin-top: 1%;"> 

  <div *ngIf="loading" class="loading-indicator">
    <h5>Chart Loading</h5>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="form-group">
    <label for="timeGranularity">Select Duration:</label>
    <select id="timeGranularity" class="form-control" [(ngModel)]="selectedTimeGranularity" name="timeGranularity"
            (change)="onTimeGranularityChange()">
      <!-- <option value="459200000">3 Days</option> -->
      <option value="86400000">1 Day</option>
      <option value="3600000">1 Hour</option>
      <!-- <option value="60000">1 Minute</option>  -->
    </select>
  </div>
  
  
  <div>
 <label>Start Date :</label>
    <input type="datetime-local" [(ngModel)]="selectedTime">
    <br>
    <button (click)=" getStartTime()" slb-button>submit</button>
  <slb-chart
  id="myChart"
  *ngIf="data.datasets.length > 0" 
  [ngStyle]="{'width': '1000px', 'height':'1000px','margin': '0 auto'}"
  [data]="data"
  [labels]="data.labels || []"

  [chartType]="'line'"
  [chartOptions]="options"
  [legendPosition]="'top'"
  [showLegend]="true"
  [showTitle]="true"
  [showTooltip]="true"
  [titlePosition]="'top'"
  
  ></slb-chart>
  <h5 *ngIf="data.datasets.length == 0" >No data found, you can try another time range.</h5>
 </div>


 </mat-card>

</body>

</html>


