<button

    [slbPopoverTriggerFor]="popup1"
    [slbPopoverBackdropClass]="slbPopoverBackdropClass"
    [slbPopoverHasBackdrop]="slbPopoverHasBackdrop"
    [slbPopoverTrigger]="'click'"
    [slbPopoverCloseOnClick]="slbPopoverCloseOnClick"
    [slbPopoverCloseOnEscape]="slbPopoverCloseOnEscape"
    [slbPopoverDisabled]="slbPopoverDisabled"
    [slbPopoverTarget]="useTargetElement ? target : undefined"
    (closed)="closed.emit($event);"
    (opened)="opened.emit($event)"
    slb-button
    color="primary"
   
>
     Toggle popover
</button>

<div class="popover-demo-target"[ngStyle]="{'display': useTargetElement ? 'flex': 'none'}" >
    <div>
        <mat-icon
            #target
            svgIcon="target"
        ></mat-icon>
        <span> Target element </span>
    </div>
</div>


  <slb-popover
      [hideArrow]="hideArrow"
      (onClose)="onClose.emit($event)"
      (onOpen)="onOpen.emit($event)"
      #popup1
 
  >
      <div class="demo-content">
          <h5>
              Remote Access
          </h5>
          <input>
          
          <p style="width: 220px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              sodales magna magna, sit amet suscipit nisl semper nec. 
          </p>
          <div class="actions">
              <button
                  (click)="popup1.close()"
                  slb-secondary-button
              >
                  Close
              </button>
              <button slb-button>
                  Do something
              </button>
          </div>
      </div>
  </slb-popover>